<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% include ['/partial/meta-twitter.html.twig'] %}
    {% include ['/partial/meta-facebook.html.twig'] %}
    <!-- All Stylesheets -->
    <link href="/unity/css/all-stylesheets.css" rel="stylesheet">
    <link href="/unity/css/styles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body class="home-19">
<!-- PRELOADER STARTSCommunity Events sind nachhaltig und persönlich.

    ========================================================================= -->
<div id="preloader">
    <div class="preloader">
        <img src="/img/never-code-alone-loader.gif" alt="Sponsoren und Teilnehmer">
    </div>
</div>
<!-- /. PRELOADER ENDS
    ========================================================================= -->
<!-- NAVIGATION STARTS
    ========================================================================= -->
<!-- LOGO STARTS  -->
<a class="logo-overlay" href="#"><img src="/img/logo.png" width="150" alt="Logo Never Code Alone"></a>
<!-- /. LOGO ENDS  -->
<!-- TOP RIGHT MENU ICON STARTS  -->
<a id="trigger-overlay"><span>Open Overlay</span></a>
<!-- /. TOP RIGHT MENU ICON ENDS  -->
<div class="overlay overlay-genie" data-steps="m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z;m 698.9986,728.03569 41.23353,0 -3.41953,77.8735 -34.98557,0 z;m 687.08153,513.78234 53.1506,0 C 738.0505,683.9161 737.86917,503.34193 737.27015,806 l -35.90067,0 c -7.82727,-276.34892 -2.06916,-72.79261 -14.28795,-292.21766 z;m 403.87105,257.94772 566.31246,2.93091 C 923.38284,513.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 455.17312,480.07689 403.87105,257.94772 z;M 51.871052,165.94772 1362.1835,168.87863 C 1171.3828,653.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 31.173122,513.78234 51.871052,165.94772 z;m 52,26 1364,4 c -12.8007,666.9037 -273.2644,483.78234 -322.7299,776 l -633.90062,0 C 359.32034,432.49318 -6.6979288,733.83462 52,26 z;m 0,0 1439.999975,0 0,805.99999 -1439.999975,0 z">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1440 806" preserveAspectRatio="none">
        <path class="overlay-path" d="m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z"/>
    </svg>
    <button type="button" class="overlay-close overlay-close-btn">Close</button>
    <nav>
        <ul>
            <li><a href="#" class="overlay-close-btn">Home</a></li>
            <li><a href="#" class="overlay-close-btn">Features</a></li>
            <li><a href="#" class="overlay-close-btn">Pages</a></li>
            <li><a href="#" class="overlay-close-btn">Portfolio</a></li>
            <li><a href="#" class="overlay-close-btn">Blog</a></li>
            <li><a href="#" class="overlay-close-btn">Contact us</a></li>
            <li><a href="#" class="overlay-close-btn">Shop</a></li>
        </ul>
    </nav>
</div>
<!-- /. NAVIGATION ENDS
    ========================================================================= -->
<!-- SLIDER STARTS
    ========================================================================= -->
<div class="slider">
    <div id="rev_slider_204_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="fullscreen-button44" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.1.1RC auto mode -->
        <div id="rev_slider_204_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.1RC">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-680" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Gute Webdeveloper" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/img/never-code-alone-event.jpg" alt="Employer Branding" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
                         id="slide-680-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                         data-fontsize="['140','140','100','60']"
                         data-lineheight="['120','120','85','55']"
                         data-width="['700','600','600','300']"
                         data-height="none"
                         data-color="#fff"
                         data-letter-spacing="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 700px; white-space: normal; white-space: nowrap;">Gute Webdeveloper
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                         id="slide-680-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['top','top','top','top']" data-voffset="['350','300','290','230']"
                         data-fontsize="['30','30','30','20']"
                         data-lineheight="['35','35','35','25']"
                         data-width="['600','600','500','300']"
                         data-whitespace="normal"
                         data-height="none"
                         data-color="#fff"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; white-space: nowrap; font-weight:300; background-color: rgb(95, 187, 40, 0.6); padding: 10px;">Wir bringen gute Arbeitgeber und gute Arbeitnehmer zusammen.
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Button rev-btn red rs-parallaxlevel-0 nca-contact"
                         id="slide-680-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['center','center','center','center']" data-voffset="['90','90','120','88']"
                         data-fontsize="['14','14','14,'14']"
                         data-lineheight="['14','14','14,'14']"‚
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Angebot anfordern
                    </div>
                </li>
                <!-- /. SLIDE  -->
                <!-- SLIDE  -->
                <li data-index="rs-681" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Community Event" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/img/community-event.jpg"  alt="Community Event" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
                         id="slide-681-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                         data-fontsize="['140','140','100','60']"
                         data-lineheight="['120','120','85','55']"
                         data-width="['1000','1000','800','400']"
                         data-whitespace="normal"
                         data-height="none"
                         data-color="#fff"
                         data-letter-spacing="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 1000px; white-space: normal; white-space: nowrap;">Persönlicher Kontakt
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                         id="slide-681-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['top','top','top','top']" data-voffset="['350','300','290','230']"
                         data-fontsize="['30','30','30','20']"
                         data-lineheight="['35','35','35','25']"
                         data-width="['600','600','500','300']"
                         data-whitespace="normal"
                         data-height="none"
                         data-color="#fff"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; white-space: nowrap; font-weight:300; background-color: rgb(95, 187, 40, 0.6); padding: 10px;">Ein Community Event die beste Möglichkeit sich persönlich kennenzulernen.
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-Button rev-btn red rs-parallaxlevel-0 nca-contact"
                         id="slide-681-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['center','center','center','center']" data-voffset="['90','90','120','88']"
                         data-fontsize="['14','14','14,'14']"
                         data-lineheight="['14','14','14,'14']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Event ausrichten
                    </div>
                </li>
                <!-- /. SLIDE  -->
                <!-- SLIDE  -->
                <li data-index="rs-682" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Social Media Marketing" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/img/social-media-marketing-slide.jpg"  alt="Social Media Marketing" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
                         id="slide-682-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                         data-fontsize="['140','140','100','60']"
                         data-lineheight="['120','120','85','55']"
                         data-width="['700','600','600','300']"
                         data-whitespace="normal"
                         data-height="none"
                         data-color="#fff"
                         data-letter-spacing="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 700px; white-space: normal; white-space: nowrap;">Social Media
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                         id="slide-682-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['top','top','top','top']" data-voffset="['350','300','290','230']"
                         data-fontsize="['30','30','30','20']"
                         data-lineheight="['35','35','35','25']"
                         data-width="['600','600','500','300']"
                         data-whitespace="normal"
                         data-height="none"
                         data-color="#fff"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; white-space: nowrap; font-weight:300; background-color: rgb(95, 187, 40, 0.6); padding: 10px;">10 Wochen Social Media Marketing auf YouTube, Facebook und Twitter.
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-Button rev-btn red rs-parallaxlevel-0 nca-contact"
                         id="slide-682-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['center','center','center','center']" data-voffset="['90','90','120','88']"
                         data-fontsize="['14','14','14,'14']"
                         data-lineheight="['14','14','14,'14']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Jetzt starten
                    </div>
                </li>
                <!-- /. SLIDE  -->
                <!-- SLIDE  -->
                <li data-index="rs-683" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Sozial engagiert" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/img/soziale-projekte.jpg"  alt="Soziale Projekte" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
                         id="slide-683-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                         data-fontsize="['140','140','100','60']"
                         data-lineheight="['120','120','85','55']"
                         data-width="['700','600','600','300']"
                         data-whitespace="normal"
                         data-height="none"
                         data-color="#fff"
                         data-letter-spacing="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 700px; white-space: normal; white-space: nowrap;">Der gute Zweck
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                         id="slide-683-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['top','top','top','top']" data-voffset="['350','300','290','230']"
                         data-fontsize="['30','30','30','20']"
                         data-lineheight="['35','35','35','25']"
                         data-width="['600','600','500','300']"
                         data-whitespace="normal"
                         data-height="none"
                         data-color="#fff"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; white-space: nowrap; font-weight:300; background-color: rgb(95, 187, 40, 0.6); padding: 10px;">Fördert die Communiy und den guten Zweck mit einem Event in eurer Stadt.
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-Button rev-btn red rs-parallaxlevel-0 nca-contact"
                         id="slide-683-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['60','60','60','60']"
                         data-y="['center','center','center','center']" data-voffset="['90','90','120','88']"
                         data-fontsize="['14','14','14,'14']"
                         data-lineheight="['14','14','14,'14']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Jetzt helfen
                    </div>
                </li>
                <!-- /. SLIDE  -->
            </ul>
            <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
        </div>
    </div>
</div>
<!-- /. SLIDER ENDS
    ========================================================================= -->
<!-- TESTIMONIAL 03 STARTS
			========================================================================= -->
<div class="parallax-33">
    <div class="container testimonial-03">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 herotext">
                <h1>Zufriedene Kunden</h1>
                <h2>Zitate der #NCAEvent Sponsoren</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="testimonial-carousel-03">
                    <div>
                        <div class="description">" Wir wollen den Fokus auf authentischen, persönlichen Kontakt legen. Eine Eventreihe wie Never Code Alone erlaubt es Entwicklern, auch einen Blick hinter die Kulissen von Stellenbeschreibungen zu werfen, in offene und entspannte Gespräche zu kommen sowie Erfahrungen auszutauschen. “</div>
                        <div class="picture"><img src="/img/sebastian-hofmann-check24.jpg" class="img-responsive center-block img-circle" alt="Sebastian Hofmann CHECK24" ></div>
                        <div class="name">Sebastian Hofmann</div>
                        <div class="company">Recruiting Specialist, CHECK24 Vergleichsportal</div>
                        <div class="company"><a href="https://blog.nevercodealone.de/sommer-sonne-coden/" target="_blank">Zum Nachbericht</a></div>
                    </div>
                    <div>
                        <div class="description">“ Einerseits sind Weiterbildungen dieser Art wichtig, damit Webdeveloper sauber und effizient arbeiten können, und andererseits hoffen wir natürlich, somit bei dem einen oder anderen als potenzieller Arbeitgeber im Gedächtnis zu bleiben ”</div>
                        <div class="picture"><img src="/img/andre-laugks-denkwerk.jpg" class="img-responsive center-block img-circle" alt="André Laugks denkwerk" ></div>
                        <div class="name">André Laugks</div>
                        <div class="company">Technical Director, denkwerk GmbH</div>
                        <div class="company"><a href="https://blog.nevercodealone.de/never-code-alone-denkwerk-koeln/" target="_blank">Zum Nachbericht</a></div>
                    </div>
                    <div>
                        <div class="description">“ Wir wollen unser Netzwerk erweitern. Das ist eine Super-Gelegenheit an einem Samstag auf einen Schlag 40 Entwickler zu sprechen ”</div>
                        <div class="picture"><img src="/img/christian-wegmann-pagepersonnel.jpg" class="img-responsive center-block img-circle" alt="Christian Wegmann Page Personnel" ></div>
                        <div class="name">Christian Wegmann</div>
                        <div class="company">Senior Manager, Page Personnel</div>
                        <div class="company"><a href="https://blog.nevercodealone.de/fun-coding-guter-zweck/" target="_blank">Zum Nachbericht</a></div>
                    </div>
                    <div>
                        <div class="description">“ Für uns als Unternehmen InfluencerDB hat sich die Veranstaltung gelohnt und wir würden das in der Zukunft in einem ähnlichen Format wiederholen wollen ”</div>
                        <div class="picture"><img src="/img/david-bosse-influencerdb.jpg" class="img-responsive center-block img-circle" alt="David Bosse InflunecerDB" ></div>
                        <div class="name">David Bosse</div>
                        <div class="company">Gesellschafter, CPO & Co-Founder, InfluencerDB Tech GmbH & Co KG</div>
                        <div class="company"><a href="https://blog.nevercodealone.de/influencerdb-ncaevent/" target="_blank">Zum Nachbericht</a></div>
                    </div>
                    <div>
                        <div class="description">“ Das ist natürlich was ganz anderes, als wenn ich jetzt auf irgendeinem anderen Camp für viel Geld ein Logo drüber klebe und das war es dann. ”</div>
                        <div class="picture"><img src="/img/hans-piechatzek-move-elevator.jpg" class="img-responsive center-block img-circle" alt="Hans Piechatzek move:elevator" ></div>
                        <div class="name">Hans Piechatzek</div>
                        <div class="company">Geschäftsführer, move:elevator</div>
                        <div class="company"><a href="https://blog.nevercodealone.de/move-elevator-fuers-coden-zum-aquarium/" target="_blank">Zum Nachbericht</a></div>
                    </div>
                    <div>
                        <div class="description">“ ...und zum anderen suchen auch wir Leute, mit denen wir das Thema in unserer Agentur weiter vorantreiben können. ”</div>
                        <div class="picture"><img src="/img/florian-breiter-wysiwyg.jpg" class="img-responsive center-block img-circle" alt="Florian Breiter wysiwyg" ></div>
                        <div class="name">Florian Breiter</div>
                        <div class="company">Geschäftsführer, Gesellschafter, wysiwyg* software design gmbh</div>
                        <div class="company"><a href="https://blog.nevercodealone.de/gelungener-start-fuer-duisburger-webdevelopment-projekt/" target="_blank">Zum Nachbericht</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONIAL 03 ENDS
    ========================================================================= -->
<!-- TAB STYLE 07 STARTS
    ========================================================================= -->
<div class="container tab-style-07">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 herotext">
            <h1>Employer Branding Web Development Jobs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- Nav tabs -->
            <ul class="nav nav-justified icon-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">
                        <div class="icon"><i class="pe-7s-video"></i></div>
                        <div class="caption">Video</div>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">
                        <div class="icon"><i class="pe-7s-users"></i></div>
                        <div class="caption">Social Media</div>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">
                        <div class="icon"><i class="pe-7s-volume"></i></div>
                        <div class="caption">Event Marketing</div>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">
                        <div class="icon"><i class="pe-7s-smile"></i></div>
                        <div class="caption">Sozialer Zweck</div>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-5" aria-controls="tab-5" role="tab" data-toggle="tab">
                        <div class="icon"><i class="pe-7s-rocket"></i></div>
                        <div class="caption">#NCAEvent</div>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                    <div class="description">
                        Unsere professionellen Videos setzen euch als Arbeitgeber richtig in Szene und vermitteln einen persönlichen Eindruck des Unternehmen und der Mitarbeiter. Videos haben in den sozialen Medien eine größere Reichweite und erzielen durchschnittlich 2.500 Impressionen pro Event.
                        <br>
                        <strong>Unser Angebot:</strong>
                        <br>
                        - 3 Interviews vor dem Event
                        <br>
                        - 1 Action Event Video
                        <br>
                        <a href="https://youtu.be/CCJ3KFWJJiA" target="_blank">Zur NCAEvent YouTube Playlist</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-2">
                    <div class="description">
                        Social Media Marketing in der relavanten Zielgruppe der motivierten Web Developer. Wir haben hier eine sehr gute Community auf <a href="https://www.facebook.com/nevercodealone/" target="_blank">Facebook</a> und <a href="https://twitter.com/nevercodealone" target="_blank">Twitter</a>. Dazu gibt es noch
                        <a href="https://www.instagram.com/nevercodealone/" target="_blank">Instagram</a> mit meinem persönlichen Developer Tagebuch und natürlich auch die gr0ßen Buisness Netzwerke
                        <a href="https://www.xing.com/companies/nevercodealone" target="_blank">Xing</a> und <a href="https://www.linkedin.com/in/rolandgolla/" target="_blank">Linkedin</a> mit je knapp 2.000 Follwern. Ergänzend werden <strong>250,- Euro für Advertising</strong> ausgegeben.
                        <br>
                        Zahlen Impressionen InflunecerDB Event Monat:
                        <br>
                        Twitter - 45k
                        <br>
                        Facebook - 26K
                        <br>
                        Video - 2.5K

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-3">
                    <div class="description">
                        Never Code Alone setzt sich von Anfang an für soziale Zwecke ein. Aus Überzeugung und mit guten Absichten. Die 40 * 10,- Euro Schutzhebühr des Events werden immer vollständig einem sozialen Zweck in der jweiligen Stadt zur Verfügung gestellt. Neuerdings können die Empfänger auch einen Aufruf an die Community in Form eines Videos absenden.
                        <br>
                        <strong>Interviews Spenden Empfänger</strong>
                        <br>
                        Froschkönige e.V.
                        <br>
                        Mitmachkinder e.V.
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-4">
                    <div class="description">
                        Wir sorgen für eine hohe Sichtbarkeit durch ein Multi Channel Event Marketing. Neben der #NCAEvent Landingpage gibt es noch eine Xing Event, Facebook Event und ein Meetup. Alle werden eklusiv als Single Sponsor Event ausgelegt, werden mit hochwertigen und individuellen Inhalten eingepflegt und als News Kanäle über den gesamten zeitraum genutzt.
                        <br>
                        <strong>Event Marketing Pages</strong>
                        <br>
                        <a href="#">InflunecerDB Event Page</a>
                        <br>
                        <a href="#">InflunecerDB Xing Event</a>
                        <br>
                        <a href="#">InflunecerDB FB Event</a>
                        <br>
                        <a href="#">InflunecerDB Meetup Event</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-5">
                    <div class="description">
                        Die Never Code Alone Events haben durch ihre zahlreichen Videos einen großen Schneeball Effekt untereinander. Im Gegensatz zu Blog Posts werden Videos als Related Content duch deutlich öfter geschaut und auf jeden Fall in den Playlists als Vorschau wahrgenommen. Dadurch entsteht ein nachhaltiges Marketing. Der Content kann natürlich auch als Rich Media Content hervorragend auf Job Seiten eingebunden werden.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TAB STYLE 07 ENDS
    ========================================================================= -->
<div class="col-lg-10 col-lg-offset-1">
    <!-- Portfolio Nav Starts -->
    <div id="options">
        <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li><a href="#filter" data-option-value="*" class="selected">ALL</a></li>
            <li><a href="#filter" data-option-value=".youtube">YouTube</a></li>
            <li><a href="#filter" data-option-value=".twitter">Twitter</a></li>
            <li><a href="#filter" data-option-value=".facebook">Facebook</a></li>
            <li><a href="#filter" data-option-value=".xing">Xing</a></li>
            <li><a href="#filter" data-option-value=".eventbrite">Eventbrite</a></li>
            <li><a href="#filter" data-option-value=".landingpage">Landingpage</a></li>
        </ul>
    </div>
    <!-- Portfolio Nav Ends -->
    <!-- Portfolio Thumbs Starts -->
    <div class="make2columns mansory-effect">
        <figure class="item youtube">
            <div class="picture">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8VDpH0aRgaU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </figure>
        <figure class="item twitter">
            <div class="picture">
                <blockquote class="twitter-tweet" data-lang="de"><p lang="de" dir="ltr">Ein starker Talk auf dem <a href="https://twitter.com/hashtag/python?src=hash&amp;ref_src=twsrc%5Etfw">#python</a> Workshop <a href="https://twitter.com/hashtag/NCAEvent?src=hash&amp;ref_src=twsrc%5Etfw">#NCAEvent</a> - Das Django Framework von Scratch - Ist das wirklich so ein Hype? - Mit dir schon lieber Christoph es war uns ein Fest mit dir zu coden - Danke <a href="https://twitter.com/codethonian?ref_src=twsrc%5Etfw">@codethonian</a> <a href="https://twitter.com/5MindsIT?ref_src=twsrc%5Etfw">@5MindsIT</a> <a href="https://twitter.com/Influencer_DB?ref_src=twsrc%5Etfw">@Influencer_DB</a> <a href="https://t.co/3qnDhOCt5n">https://t.co/3qnDhOCt5n</a> <a href="https://t.co/s3ikIHWOyL">pic.twitter.com/s3ikIHWOyL</a></p>&mdash; Never Code Alone (@nevercodealone) <a href="https://twitter.com/nevercodealone/status/973215567569137664?ref_src=twsrc%5Etfw">12. März 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </figure>
        <figure class="item facebook">
            <div class="picture">
                <a href="https://www.facebook.com/events/938481492982319/" target="_blank"><img src="/img/ncaevent-facebook.jpg" alt="Facebook NCA Event"></a>
            </div>
        </figure>
        <figure class="item xing">
            <div class="picture">
                <a href="https://www.xing.com/events/python-workshop-influencerdb-ncaevent-1903595" target="_blank"><img src="/img/xing-nca-event.jpg" alt="Xing NCA Event"></a>
            </div>
        </figure>
    </div>
    <!-- Portfolio Thumbs Ends -->
</div>
<!-- ICON STYLE 20 STARTS
    ========================================================================= -->
<div class="icon-style-20">
    <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 block">
                <div class="icon"><i class="pe-7s-add-user"></i></div>
                <div class="heading">Persönlicher Kontakt</div>
                <div class="line"></div>
                <div class="description">Eine ganz persönliche Möglichkeit sich als Arbeitgeber in den eigenen Räumen zu präsentieren und über einen ganzen Tag lang kennenzulernen. So merkt man ob man zueinander passt und die gleichen Werte und Ziele besitzt.</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 block">
                <div class="icon"><i class="pe-7s-like2"></i></div>
                <div class="heading">Motivierte Entwickler</div>
                <div class="line"></div>
                <div class="description">Einen ganzen Smastag kostenlos für die persönliche Weiterbildung einsetzen? Das versteht sich nicht von selbst und die Kandidaten wollen genau das und sich übern den Tellerrand hinaus weiterbilden.</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 block">
                <div class="icon"><i class="pe-7s-tools"></i></div>
                <div class="heading">Reichweite</div>
                <div class="line"></div>
                <div class="description">Durch Videos und gezieltes Social Media Marketing präsentiert man sich als guter Arbeitgeber und förderer der Community mit dem Einsatz für den guten Zweck. Das ist ein HR und ein PR Thema.</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 block">
                <div class="icon"><i class="pe-7s-science"></i></div>
                <div class="heading">Der gute Zweck</div>
                <div class="line"></div>
                <div class="description">Das Unternehmern, Never Code Alone und Teilneher setzen sich gemeinsam für einen sozialen Zweck in der jweiligen Stadt ein. Gemainsam Gutes tun erzeugt ein starkes Wir-Gefühl und verbindet.</div>
            </div>
        </div>
        <!-- Row Ends -->
    </div>
</div>
<!-- ICON STYLE 20 ENDS
    ========================================================================= -->
<!-- CALL TO ACTION 03 STARTS
    ========================================================================= -->
<div class="parallax-39">
    <div class="call-to-action-03 container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 herotext">
                <div class="clothing-carousel">
                    <div>
                        <h1>40 motivierte Webdeveloper</h1>
                        <div class="description">Gute Arbeitgeber sichen gute Webdeveloper. Wir haben mit unseren Events den richtigen Schlüssel gefunden die einen Rahmen für diese selten Zielgruppen zu finden.</div>
                        <div class="button"><a href="#/" class="fill nca-contact">Jetzt buchen</a></div>
                    </div>
                    <div>
                        <h1>Bekanntheit in der Community</h1>
                        <div class="description">Unter vielen Arbeitgebern in einem engen Markt präsentiert man sich über einen zeitraum von über 10 Wochen ganz gezielt in der Community für die gewünschte Technologie.</div>
                        <div class="button"><a href="#/" class="fill nca-contact">Jetzt Leute finden</a></div>
                    </div>
                    <div>
                        <h1>Die richtige Technologie</h1>
                        <div class="description">Erfahrung in der richtigen und passenden Technologie zu haben ist sehr wichtig für die Entwicklung und spart erheblich bei der Einsarbeitung neuer Mitarbeiter.</div>
                        <div class="button"><a href="#/" class="fill nca-contact">Zum Angebot</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CALL TO ACTION 03 ENDS
    ========================================================================= -->
<!-- MOCKUP SECTION 11 STARTS
    ========================================================================= -->
<div class="container-fluid">
    <div class="row">
        <section class="mockup-section-11 blue-bg-10">
            <div class="col-lg-6 col-sm-8 col-sm-offset-6 tab-style-13">
                <div class="contents">
                    <!-- Nav tabs -->
                    <ul class="nav nav-justified" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#plan-13" aria-controls="plan-13" role="tab" data-toggle="tab">
                                <div class="caption">Employer<br>Branding</div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#active-13" aria-controls="active-13" role="tab" data-toggle="tab">
                                <div class="caption">Förderung der Community</div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#develop-13" aria-controls="develop-13" role="tab" data-toggle="tab">
                                <div class="caption">Gemeinsam für den zuten Zweck</div>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="plan-13">
                            <div class="heading">Vertrauen aufbauen</div>
                            <div class="description">
                                Stellenausschreibungen bringen keine guten Bewerber, weil der persönlche Kontakt fehlt und man sich hier nicht richtig Absetzen kann.<br><br>
                                In der großen Masse der Jobangebote gibt es leider viele scharze Schafe mit falschen versprechen. Daher sind die zunehmend unglaubwürdig und können die Wahrheit nicht mehr transportieren.
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="active-13">
                            <div class="heading">Weiterbildung fördern</div>
                            <div class="description">
                                Die Never Code Alone Events sind auch eine tolle Möglichkeit sich in der Technolgie und den Tools praktisch weiterzubilden.<br><br>
                                Setzt man sich als Arbeitgeber für die Weiterbildung und Förderung in der Community ein zeigt das deutlich den Stellenwert von Know How Transfer und Auffassung nach aussen.
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="develop-13">
                            <div class="heading">Nachhaltig sein</div>
                            <div class="description">
                                Eine gute Sache ist auch eine tolle Sache. Neben der guten Tat für die Entwicklung von Entwicklern ist es auch wichtig sich direkt für eine gute Sache einzusetzen.<br><br>
                                Wir fördern gerne soziale Projekte und den richtigen Einsatz von Software-Qualität. Neben der finaziellen Spende haben wir bereits zwei Open Source Projekte für Menschen die Menschen helfen veröffentlicht.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-4 img-side img-left">
                <div class="img-holder"><img src="/img/employer-branding.jpg" alt="Employer Branding" ></div>
            </div>
        </section>
    </div>
</div>
<!-- MOCKUP SECTION 11 ENDS
    ========================================================================= -->
<!-- TEAM STYLE 06 STARTS
    ========================================================================= -->
<div class="container team-style-06">
    <div class="row">
        <div class="col-lg-12 herotext">
            <h1>Das Never Code Alone Event Team</h1>
            <div class="description">Wir sind ein professionelles und motiviertes Team und verbessern uns jeden Tag.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 block">
            <div class="picture">
                <img src="/img/roland-golla-never-code-alone.jpg" class="img-responsive" alt="Roland Golla Never Code Alone" >
                <!-- Picture Overlay Starts -->
                <div class="picture-overlay">
                    <div class="icons">
                        <div><span class="icon"><a href="">facebook</a> <a href="">twitter</a> <a href="">instagram</a></span></div>
                    </div>
                </div>
                <!-- Picture Overlay Ends -->
            </div>
            <div class="info">
                <div class="name">Roland Golla</div>
                <div class="designation">Marketing Director</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 block">
            <div class="picture">
                <img src="/img/birte-gernhardt-video.jpg" class="img-responsive" alt="Birte Gernhardt Video" >
                <!-- Picture Overlay Starts -->
                <div class="picture-overlay">
                    <div class="icons">
                        <div><span class="icon"><a href="">facebook</a> <a href="">twitter</a> <a href="">instagram</a></span></div>
                    </div>
                </div>
                <!-- Picture Overlay Ends -->
            </div>
            <div class="info">
                <div class="name">Birte Gernhardt</div>
                <div class="designation">Video Director</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 block">
            <div class="picture">
                <img src="http://dummyimage.com/720x500"class="img-responsive" alt="" >
                <!-- Picture Overlay Starts -->
                <div class="picture-overlay">
                    <div class="icons">
                        <div><span class="icon"><a href="">facebook</a> <a href="">twitter</a> <a href="">instagram</a></span></div>
                    </div>
                </div>
                <!-- Picture Overlay Ends -->
            </div>
            <div class="info">
                <div class="name">Sven Wagner</div>
                <div class="designation">Art Director</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 block">
            <div class="picture">
                <img src="http://dummyimage.com/720x500"class="img-responsive" alt="" >
                <!-- Picture Overlay Starts -->
                <div class="picture-overlay">
                    <div class="icons">
                        <div><span class="icon"><a href="">facebook</a> <a href="">twitter</a> <a href="">instagram</a></span></div>
                    </div>
                </div>
                <!-- Picture Overlay Ends -->
            </div>
            <div class="info">
                <div class="name">Daniel Brown</div>
                <div class="designation">PR Director</div>
            </div>
        </div>
    </div>
</div>
<!-- TEAM STYLE 06 ENDS
    ========================================================================= -->
<!-- CONTACT US 05 STARTS
    ========================================================================= -->
<div class="parallax-40">
    <div class="container contact-05">
        <div class="row">
            <div class="col-lg-12 herotext">
                <h1>Kontakt aufnehmen</h1>
                <div class="description">Wir freuen uns auf ein nettes Telefonat</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 block">
                <div class="icon"><i class="fa fa-map-marker"></i></div>
                <div class="text">Never Code Alone<br>
                    Fürstenstrasse 10<br>
                    47051 Duisburg<br><a href="https://goo.gl/maps/J9WBFHJ5NTo" target="_blank">Google Maps</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 block">
                <div class="icon"><i class="fa fa-mobile"></i></div>
                <div class="text">0176 24 74 77 27</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 block">
                <div class="icon"><i class="fa fa-envelope-o"></i></div>
                <div class="text"><a href="mailto:nevercodealone@gmail.com">nevercodealone@gmail.com</a></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 block">
                <div class="icon"><i class="fa fa-youtube"></i></div>
                    <div class="text"><a href="https://www.youtube.com/c/NeverCodeAlone" target="_blank">YT/NCA:</a> VBlog<br>
                </div>
                <div class="icon"><i class="fa fa-twitter"></i></div>
                    <div class="text"><a href="https://twitter.com/nevercodealone" target="_blank">@nevercodealone:</a> News aus der Szene<br>
                </div>
                <div class="icon"><i class="fa fa-facebook"></i></div>
                    <div class="text"><a href="https://www.facebook.com/nevercodealone/" target="_blank">FB/Nevercodealone:</a> Nerdiges für Nerds<br>
                </div>
                <div class="icon"><i class="fa fa-instagram"></i></div>
                    <div class="text"><a href="">Code Tagebuch:</a> Tagebuch eines Coders<br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTACT US 05 ENDS
    ========================================================================= -->
<!-- FOOTER 08 STARTS
    ========================================================================= -->
<div class="footer-08">
    <div class="container">
        <!-- Row 1 Starts -->
        <div class="row row1">
            <div class="col-lg-12 footer-logo"><img src="/img/logo.png" alt="Never Code Alone" ></div>
        </div>
        <!-- Row 1 Ends -->
        <!-- Row 2 Starts -->
        <div class="row row2">
            <!-- Social Icons Starts -->
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="https://twitter.com/nevercodealone" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.facebook.com/nevercodealone/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/nevercodealone/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/nevercodealone" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.xing.com/companies/nevercodealone" target="_blank"><i class="fa fa-xing"></i></a></li>
                </ul>
            </div>
            <!-- Social Icons Ends -->
            <div class="col-lg-6 col-md-6 col-sm-6 call-now"><i class="fa fa-phone"></i> Jetzt anrufen: <a href="">0176 24 74 77 27</a></div>
            <div class="col-lg-6 col-md-6 col-sm-6 mail"><i class="fa fa-envelope"></i>Mail: <a href="">nevercodealone@gmail.com</a></div>
        </div>
        <!-- Row 2 Ends -->
    </div>
</div>
<!-- FOOTER 08 ENDS
    ========================================================================= -->
<div id="switch">
    <div class="content-switcher">
        <h3 class="ncagreen">Kontakt</h3>
        <div>
            <div class="row no-gutter-6 demo-thumbz-2 no-margin-right">
                <form  method="post" class="ContactForm-03" id="nca-form">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <select id="reason" class="form-control">
                                <option value="email">E-Mail</option>
                                <option value="lunch">Lunch</option>
                                <option value="call">Rückruf</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="name" type="text" class="form-control" name="name" placeholder="Name *" required>
                        </div>
                        <div class="form-group">
                            <input id="email" type="email" class="form-control" name="email" type="email" placeholder="E-Mail *" required>
                        </div>
                        <div class="form-group">
                            <input id="phone" type="text" class="form-control" name="phone" placeholder="Nummer">
                        </div>
                        <div class="form-group">
                            <textarea id="message" rows="5" class="form-control" style="height:196px" name="comment" placeholder="Sag Hallo"></textarea>
                        </div>
                        <div class="button"><button type="submit" class="btn btn-success submitf-03" value='SUBMIT' name='submitf-03'>senden</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="hide"><i class="fa fa-times"></i></div>
</div>
<div id="show" style="display: block;">
    <div id="setting"><i class="fa fa-comment"></i></div>
</div>
<!-- TO TOP STARTS
    ========================================================================= -->
<a href="#" class="scrollup">Scroll</a>
<!-- /. TO TOP ENDS
    ========================================================================= -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/unity/js/jquery-1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/unity/js/bootstrap.min.js"></script>
<!-- MENU -->
<script src="/unity/js/overlay-menu/js/snap.svg-min.js"></script>
<script src="/unity/js/overlay-menu/js/modernizr.custom.js"></script>
<script src="/unity/js/overlay-menu/js/classie.js"></script>
<script src="/unity/js/overlay-menu/js/overlay-main.js"></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="/unity/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
    (Load Extensions only on Local File Systems !
    The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript">
    var tpj = jQuery;

    var revapi204;
    tpj(document).ready(function() {
        if (tpj("#rev_slider_204_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_204_1");
        } else {
            revapi204 = tpj("#rev_slider_204_1").show().revolution({
                sliderType: "standard",
                jsFileLocation:"revolution/js/",
                sliderLayout:"fullscreen",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    arrows: {
                        style: "gyges",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 0,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 0,
                            v_offset: 0
                        }
                    },
                    thumbnails: {
                        style: "erinyen",
                        enable: true,
                        width: 300,
                        height: 250,
                        min_width: 150,
                        wrapper_padding: 5,
                        wrapper_color: "transparent",
                        wrapper_opacity: "1",
                        tmp: '<span class="tp-thumb-over"></span><span class="tp-thumb-image"></span><span class="tp-thumb-title">{% verbatim %}{{title}}{% endverbatim %}</span><span class="tp-thumb-more"></span>',
                        visibleAmount: 5,
                        hide_onmobile: true,
                        hide_under: 800,
                        hide_onleave: false,
                        direction: "horizontal",
                        span: false,
                        position: "inner",
                        space: 0,
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 0
                    }
                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%"
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1240, 1024, 778, 480],
                gridheight: [800, 700, 600, 500],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
                    type: "mouse",
                },
                shadow: 0,
                spinner: "off",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "on",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    }); /*ready*/
</script>
<!-- Parallax -->
<script type="text/javascript" src="/unity/js/parallax/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/unity/js/parallax/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="/unity/js/parallax/jquery.scrollTo-1.4.2-min.js"></script>
<!-- FitVids -->
<script type="text/javascript" src="/unity/js/fitvids/jquery.fitvids.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="/unity/js/owl-carousel/owl.carousel.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="/unity/js/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/unity/js/isotope/custom-isotope-mansory.js"></script>
<!-- Magnific Popup core JS file -->
<script type="text/javascript" src="/unity/js/magnific-popup/jquery.magnific-popup.js"></script>
<!-- FlexSlider -->
<script defer src="/unity/js/flexslider/jquery.flexslider.js"></script>
<!-- Custom JS -->
<script src="/unity/js/custom/custom.js"></script>
{% include 'google-analytics.html' %}
</body>
</html>