<!DOCTYPE html>
<!--
Support für unsere Open Source Projekte gesucht!!
-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PHP Schulung, Software-Qualität und soziale Open Source Projekte</title>
    {% block meta %}
    <meta name="description" content="Never Code Alone Als Sachverständiger für Webdesign und Event Veranstalter Software-Qualität beim Webdesign."/>
    <meta property="og:locale" content="de_DE" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Open Source Community für soziale Projekte" />
    <meta property="og:description" content="Never Code Alone fördert Webdeveloper mit sozialen Open Source Projekten und kostenlosen Workshops." />
    <meta property="og:url" content="https://nevercodealone.de" />
    <meta property="og:site_name" content="Never Code Alone" />
    <meta property="article:tag" content="event" />
    <meta property="article:tag" content="training" />
    <meta property="article:section" content="Webdevelopment" />
    <meta property="og:image" content="https://nevercodealone.de/bundles/app/img/never-code-alone-roboter-org.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Open Source Community für soziale Projekte" />
    <meta name="twitter:description" content="Never Code Alone fördert Webdeveloper mit sozialen Open Source Projekten und kostenlosen Workshops." />
    <meta name="twitter:site" content="@nevercodealone" />
    <meta name="twitter:image" content="https://nevercodealone.de/bundles/app/img/never-code-alone-roboter-org.jpg" />
    <meta name="twitter:creator" content="@nevercodealone" />
    {% endblock %}
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if IE 8]>
    <link href="/ethic/style_ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!-- HTML5 Shim and Respond.js') }} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js') }} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/ethic/js/html5shiv.js"></script>
    <script src="/ethic/js/respond.min.js"></script>
    <![endif]-->
    <link href="/ethic/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css' rel='stylesheet' type='text/css'>
    <link href='/ethic/css/owl.theme.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link href="/ethic/style.css" rel="stylesheet"/>
</head>
<body>

<div class="loading-page">
    <img src="/img/never-code-alone-loader.gif" alt="Sponsoren und Teilnehmer">
</div>
<div class="tz-content-search">
    <form action="#" method="get">
        <i class="fa fa-times tz-form-close"></i>
        <input type="text" class="tz-search-input" id="tz-search-input" name="search" placeholder="Search...">
    </form><!-- End form search -->
</div><!-- End section search form -->

<!-- Begin class tz-header -->
<header class="tz-header tz-header-4">
    <div class="container">
        <div class="tz-header-content-4">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="tz-menu tz-menu-left">
                        <button class="tz-button-toggle tz-canvas-customer pull-leff" type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                        <button data-target=".nav-collapse" class="tz-button-toggle tz-canvas-main btn-navbar pull-left"
                                type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul data-q="navMainLeft" class="menu-right nav-collapse">
                            <li>
                                <a href="https://blog.nevercodealone.de/influencerdb-ncaevent/" class="btn btn-success" target="_blank">Review #NCAEvent</a>
                            </li>
                            <li>
                                <a href="#">HOME</a>
                            </li>
                            <li>
                                <a href="/vorverkauf/">Vorverkauf</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="tz-image-logo-style-4">
                        <a href="#"><img src="/img/logo.png" alt="Never Code Alone Logo"></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="tz-menu tz-menu-right">
                        <ul data-q="navMainRight" class="menu-left nav-collapse">
                            <li>
                                <a href="https://blog.nevercodealone.de/" target="_blank">BLOG</a>
                            </li>
                            <li>
                                <a href="https://shop.spreadshirt.de/nevercodealone" target="_blank">SHOP</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCjVT6iJ_wg7OM0DkV5TpNCQ" target="_blank">YouTube</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Content Main Header -->
</header>
<!-- End class tz-header -->

<section class="tz-banner">
    <!-- Begin class banner style-3 -->
    <div class="tz-banner-style4">
        <div class="tz-slider-banner">
            <div class="tz-items">
                <div class="tz-slider-images">
                    <img src="/img/sachverstaendiger-sachverstand-webdesign.png"
                         alt="#NCAPair Sachversändiger Webdesign">
                </div>
                <div class="tz-banner-content">
                    <div class="container">
                        <small>Budgets und Ergebnisse unter Kontrolle halten</small>
                        <h1>#NCAPair Sachversändiger Webdesign</h1>
                        <span class="tz-under-line"></span>
                        <h6>Sachverstand vom Angebot bis zur Abnahme</h6>
                        <a class="tz-item-more-details"
                           href="https://blog.nevercodealone.de/ncasv-webdesign-sachverstaendige/" target="_blank">
                            <span><i class="fa fa-thumbs-o-up"></i>#NCASV</span>
                        </a>
                    </div>
                </div>
                <button class="tz-button-left">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="tz-button-right">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
            <div class="tz-items">
                <div class="tz-slider-images">
                    <img src="/img/ncapair-php-schulung-webdevelopment-jobs.jpeg"
                         alt="#NCAPair PHP Schulung für Teams">
                </div>
                <div class="tz-banner-content">
                    <div class="container">
                        <small>Teams bilden und Entwickler dauerhaft binden</small>
                        <h1>#NCAPair PHP Schulung</h1>
                        <span class="tz-under-line"></span>
                        <h6>Pair Programming bringt Teams nach vorne</h6>
                        <a class="tz-item-more-details"
                           href="https://blog.nevercodealone.de/ncapair-pair-programming-webdevelopment-typo3-symfony/" target="_blank">
                            <span><i class="fa fa-graduation-cap"></i>Blog Post</span>
                        </a>
                    </div>
                </div>
                <button class="tz-button-left">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="tz-button-right">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
            <div class="tz-items">
                <div class="tz-slider-images">
                    <img src="/img/duisburger-tafel-emma.jpg"
                         alt="Open Source Projekt EMMA">
                </div>
                <div class="tz-banner-content">
                    <div class="container">
                        <small>Coden für die gute Sache</small>
                        <h1>Soziale Open Source Projekte</h1>
                        <span class="tz-under-line"></span>
                        <h6>Software für Menschen, die Menschen helfen</h6>
                        <a class="tz-item-more-details"
                           href="https://blog.nevercodealone.de/raketentechnik-fuer-den-guten-zweck/" target="_blank">
                            <span><i class="fa fa-cutlery"></i>EMMA - Duisburger Tafel</span>
                        </a>
                    </div>
                </div>
                <button class="tz-button-left">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="tz-button-right">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- End  class banner style-3 -->
</section>

<!-- Start class tz-offcavans-menu-left -->
<aside class="tz-offcavans-menu-customer">
    <button class="tz-offcanvas-close"><img src="/ethic/images/close-ofcanvas.png"
                                            alt="Images"></button>
    <div class="tzscrollable">
        <nav class="tz-menu-ofcanvas-right">
            <ul>
                <li>
                    <a href="https://blog.nevercodealone.de/gute-webdeveloper-suchen-gute-arbeitgeber/" target="_blank">
                        <img src="/ethic/images/check.png" alt="Images">
                        <i class="fa fa-arrows-alt"></i>
                        <strong>Die Idee</strong>
                    </a>
                </li>
                <li>
                    <a href="https://blog.nevercodealone.de/never-code-alone-idee/" target="_blank">
                        <img src="/ethic/images/check.png" alt="Images">
                        <i class="fa fa-arrows-alt"></i>
                        <strong>Die Events</strong>
                    </a>
                </li>
                <li>
                    <a href="https://blog.nevercodealone.de/gastbeitraege-webdevelopment/" target="_blank">
                        <img src="/ethic/images/check.png" alt="Images">
                        <i class="fa fa-arrows-alt"></i>
                        <strong>Gastbeiträge</strong>
                    </a>
                </li>
                <li>
                    <a href="https://blog.nevercodealone.de/never-code-alone-tv-bringt-it-erfolgsstorys-auf-den-schirm/"
                       target="_blank">
                        <img src="/ethic/images/check.png" alt="Images">
                        <i class="fa fa-arrows-alt"></i>
                        <strong>NCA TV</strong>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- End class tz-offcavans-menu -->

<section class="tz-cources tz-cources-4" data-q="services-section">
    <span class="tz-images-check">
        <img alt="Images" src="/ethic/images/check-01-home1.png"/>
    </span>
    <h4 class="tz-title-find">Wir setzen Sponsoren in Szene und machen Event-Marketing</h4>
    <div class="container" data-q="services-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul data-q="services-navigation" id="tz-sidemenu" class="tz-cources-content-left">
                    <li>
                        <div>
                            <a href="#youtube" class="tz-open">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                    <i class="fa fa-arrows-alt"></i>
                                </span>
                                <strong>Video-Marketing</strong>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#socialmediamarketing">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                    <i class="fa fa-arrows-alt"></i>
                                </span>
                                <strong>PR- und Social Media Marketing</strong>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#vorbericht">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                <i class="fa fa-arrows-alt"></i>
                                <strong>Vorbericht</strong>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#nachbericht">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                <i class="fa fa-arrows-alt"></i>
                                <strong>Nachbericht</strong>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#presse">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                <i class="fa fa-arrows-alt"></i>
                                <strong>Presse</strong>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#community">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                <i class="fa fa-arrows-alt"></i>
                                <strong>Community fördern</strong>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#mitarbeiter">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                <i class="fa fa-arrows-alt"></i>
                                <strong>Mitarbeiter NCA Team</strong>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#guterzweck">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                <i class="fa fa-arrows-alt"></i>
                                <strong>Der gute Zweck</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div data-q="services-content" class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div id="youtube" class="tz-content-right">
                    <div class="tz-tab-slider-img">
                        <div class="tz-tab-slider-img">
                            <button class="tz-cources-prev">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <button class="tz-cources-next">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <ul class="tz-tab-slider">
                                <li>
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/8VDpH0aRgaU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </li>
                                <li>
                                    <iframe width="732" height="412" src="https://www.youtube.com/embed/n6sn4Wstp00" frameborder="0" allowfullscreen></iframe>
                                </li>
                                <li>
                                    <iframe width="732" height="412" src="https://www.youtube.com/embed/zI-4Kq0TD6g" frameborder="0" allowfullscreen></iframe>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tz-tab-description tz-background-color-8">
                        <img src="/ethic/images/check-02-home2.png" alt="Images">
                        <h4>Video-Marketing</h4>
                        <p>Mit unserem professionellen Video-Marketing erreichen wir eine hohe Reichweite in der
                            relevanten Zielgruppe und können Marken und Sponsoren sehr gut platzieren.</p>
                        <span>
                            <a href="https://youtu.be/g3teRRGyACI" target="_blank">Videobericht</a>
                            <a href="https://youtu.be/tjB_G8A_yYw" target="_blank">Interviews</a>
                            <a href="https://youtu.be/zI-4Kq0TD6g" target="_blank">Der Nerd!</a>
                            <a href="https://youtu.be/0lRKf_UhAXo" target="_blank">Stories</a>
                        </span>
                    </div>
                </div>
                <div id="socialmediamarketing" class="tz-content-right tz-hidden">
                    <div class="tz-tab-singleImg">
                        <img src="/img/social-media-marketing.jpg"
                             alt="Social Media Marketing">
                    </div>
                    <div class="tz-tab-description tz-background-color-8">
                        <img src="/ethic/images/check-02-home2.png" alt="Images">
                        <h4>PR-Arbeit und Social Media Marketing</h4>
                        <p>Wir übernehmen die Kommunikation zum Event in unserem Blog und auf den Social-Media-Kanälen
                            (Facebook, Twitter, Google+ und Xing). Und das in Abstimmung mit dem Sponsor.</p>
                        <span>
                            <a href="https://www.facebook.com/nevercodealone/" target="_blank">Facebook</a>
                            <a href="https://twitter.com/nevercodealone" target="_blank">Twitter</a>
                            <a href="https://www.instagram.com/nevercodealone/" target="_blank">Instagram</a>
                            <a href="https://www.xing.com/companies/nevercodealone" target="_blank">XING</a>
                        </span>

                    </div>
                </div>
                <div id="vorbericht" class="tz-content-right tz-hidden">
                    <div class="tz-tab-slider-img">
                        <ul class="tz-tab-slider">
                            <li>
                                <img src="/img/content-marketing-blog.png"
                                     alt="Vorbericht NCAEvent">
                            </li>
                        </ul>
                    </div>
                    <div class="tz-tab-description tz-background-color-8">
                        <img src="/ethic/images/check-02-home2.png" alt="Images">
                        <h4>Vorbericht Blog-Post</h4>
                        <p>Wir stimmen einen Vorbericht gemeinsam mit Ihnen ab. Dieser wird dann auf unserem Blog mit
                            allen Infos und Ansprechpartnern veröffentlicht. Vorberichte werden von uns intensiv
                            beworben.</p>
                        <span>
                            <a href="https://blog.nevercodealone.de/der-influencerdb-ncaevent/" target="_blank">Vorbericht InfluencerDB</a>
                            <a href="https://blog.nevercodealone.de/vorbericht-moveelevator/" target="_blank">Vorbericht move:elevator</a>
                            <a href="https://blog.nevercodealone.de/vorbericht-check24-ncaevent-am-27-mai/" target="_blank">Vorbericht CHECK24</a>
                        </span>
                    </div>
                </div>
                <div id="nachbericht" class="tz-content-right tz-hidden">
                    <div class="tz-tab-slider-img">
                        <ul class="tz-tab-slider">
                            <li>
                                <img src="/img/nachbericht-ncaevent.jpg"
                                     alt="Nachbericht Never Code Alone Event">
                            </li>
                        </ul>
                    </div>
                    <div class="tz-tab-description tz-background-color-8">
                        <img src="/ethic/images/check-02-home2.png" alt="Images">
                        <h4>Nachbericht als Blog-Post</h4>
                        <p>Wir erstellen in Absprache mit Ihnen als Sponsor und den Teilnehmern auf dem Event einen
                            Nachbericht auf unserem Blog-Post. Hier wird das Event noch einmal mit Bildern und Zitaten
                            dargestellt.</p>
                        <span>
                            <a href="https://blog.nevercodealone.de/sommer-sonne-coden/" target="_blank">Nachbericht CHECK24</a>
                            <a href="https://blog.nevercodealone.de/fun-coding-guter-zweck/" target="_blank">Nachbericht PageGroup</a>
                            <a href="https://blog.nevercodealone.de/never-code-alone-denkwerk-koeln/" target="_blank">Nachbericht denkwerk</a><br>
                        </span>
                    </div>
                </div>
                <div id="presse" class="tz-content-right tz-hidden">
                    <div class="tz-tab-slider-img">
                        <ul class="tz-tab-slider">
                            <li>
                                <img src="/ethic/img/presse-arbeit.jpg" alt="Presse-Arbeit">
                            </li>
                        </ul>
                    </div>
                    <div class="tz-tab-description tz-background-color-8">
                        <img src="/ethic/images/check-02-home2.png" alt="Images">
                        <h4>Presse-Arbeit</h4>
                        <p>Wir sind Ansprechpartner für die Pressearbeit und können auf die richtigen Medien-Kontakte
                            aus unserem Netzwerk zugreifen.</p>
                        <span>
                            <a href="http://www.derwesten.de/staedte/duisburg/webprojekt-will-softwarequalitaet-verbessern-id12126418.html"
                               target="_blank">WAZ Artikel - Webprojekt will Softwarequalität verbessern</a>
                        </span>
                    </div>
                </div>
                <div id="community" class="tz-content-right tz-hidden">
                    <div class="tz-tab-slider-img">
                        <ul class="tz-tab-slider">
                            <li>
                                <img src="/ethic/img/community-foerdern.jpg"
                                     alt="Community fördern">
                            </li>
                        </ul>
                    </div>
                    <div class="tz-tab-description tz-background-color-8">
                        <img src="/ethic/images/check-02-home2.png" alt="Images">
                        <h4>Community fördern</h4>
                        <p>Die Community der Webdeveloper entwickelt sich zur Zeit stark weiter. Neben den Open-Source
                            Projekten gibt es auch immer mehr Meetups und Communities. Unsere Events bringen motivierte
                            Webdeveloper zusammen.</p>
                        <span>
                            <a href="https://typo3.org/events/" target="_blank">TYPO3 Events</a>
                            <a href="http://www.phpug.de/gruppen.5.html">PHP Usergroups</a>
                            <a href="https://www.meetup.com/de-DE/find/events/?allMeetups=false&keywords=php&radius=31&userFreeform=Duisburg%2C+Deutschland&mcId=z1007709&mcName=Duisburg%2C+DE&eventFilter=mysugg"
                               target="_blank">PHP Meetups</a>
                        </span>
                    </div>
                </div>
                <div id="mitarbeiter" class="tz-content-right tz-hidden">
                    <div class="tz-tab-slider-img">
                        <ul class="tz-tab-slider">
                            <li>
                                <img src="/ethic/img/never-code-alone-team.jpg"
                                     alt="Never Code Alone Team">
                            </li>
                        </ul>
                    </div>
                    <div class="tz-tab-description tz-background-color-8">
                        <img src="/ethic/images/check-02-home2.png" alt="Images">
                        <h4>Mitarbeiter</h4>
                        <p>Initiator Roland Golla, Fotograf Sven Wagner, Video Journalistin Birte Gernhardt und
                            PR-Experte Matthias Still</p>
                        <span>
                            <a href="https://www.rolandgolla.de" target="_blank">Roland Golla</a>
                            <a href="http://www.zwaenart.de/">Sven Wagner</a>
                            <a href="http://www.gernhardtmedia.de/" target="_blank">Birte Gernhardt</a>
                        </span>
                    </div>
                </div>
                <div id="guterzweck" class="tz-content-right tz-hidden">
                    <div class="tz-tab-slider-img">
                        <ul class="tz-tab-slider">
                            <li>
                                <img src="/ethic/img/guter-zweck.jpg"
                                     alt="Never Code Alone Team">
                            </li>
                        </ul>
                    </div>
                    <div class="tz-tab-description tz-background-color-8">
                        <img src="/ethic/images/check-02-home2.png" alt="Images">
                        <h4>Guter Zweck</h4>
                        <p>Wir setzen uns mit jedem Event und auch allen anderen Formaten stets für den guten Zweck ein.
                            So spenden wir die Einnahmen bei den Event-Tickets immer einem guten Zweck in der jeweiligen
                            Stadt.</p>
                        <span>
                            <a href="http://www.duisburger-tafel.de/" target="_blank">Duisburger Tafel</a>
                            <a href="https://www.krebshilfe.de/" target="_blank">Deutsche Krebshilfe</a>
                            <a href="https://www.froschkoenige-ev.de" target="_blank">Froschkönige e.V.</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End container class tz-cources -->
</section> <!-- End class tz-cources -->

<section class="tz-introduce-style-4" data-q="form-contact">
    <div class="container">
        <div class="tz-address-style-4">
            <span>
                <img src="/img/duisburg-never-code-alone.jpeg"
                     alt="Duisburg Never Code Alone">
            </span>
            <ul class="tz-phone-fax">
                <li><a href="#"><img src="/img/logo.png" alt="Never Code Alone Logo"></a></li>
                <li>
                    <img src="/ethic/images/check-home4.png" alt="Adresse">
                    <span class="theme-color-white">Mercatorstr. 106, Duisburg Deutschland </span>
                </li>
                <li>
                    <img src="/ethic/images/check-home4.png" alt="Telefon">
                    <span class="theme-color-white">Telefon: +49 0176 24747727</span>
                </li>
            </ul>
        </div>
        <div class="tz-introduce-content tz-introduce-content-style-4">
            <h4>MOTIVIERTE WEBDEVELOPER FÜR SOFTWARE-QUALITÄT</h4>
            <p>
                Einige wenige Webdeveloper zeichnen sich durch sehr hohe Lernbereitschaft und persönliche Motivation aus. Sie engagieren sich über ihre Arbeit hinaus und versuchen immer neue Technologien zu lernen und einzusetzen. Diese kleine Zielgruppe ist für Unternehmen in der Software-Entwicklung wichtig und förderlich. Wir bieten auf unseren Events eine sehr gute Kontakt-Plattform und Möglichkeit sich als Arbeitgeber zu positionieren.
                <br>
                Wir bieten auf unseren Events Kontakt zu dieser Zielgruppe und Möglichkeiten, sich als Arbeitgeber zu positionieren.
            </p>
        </div>
    </div><!-- End container class tz-home-4-introduce -->
</section><!-- End class tz-home-4-introduce -->

<section class="tz-introduce-style-4">
    <div class="container">
        <div class="tz-contact-content">
            <form method="post" class="tz-contact-form tz-contact-form4" name="frm_contact" id="frm_contact">
                <ul class="tz-contact-wapper tz-contact-wapper-style-4">
                    <li>
                        <span class="theme-color-white">KONTAKT?<br>SENDE UNS EINE E-MAIL!</span>
                    </li>
                    <li>
                        <input class="tz-contact-input-name" type="text" name="txtname" id="name" placeholder="Dein Name" required>
                    </li>
                    <li>
                        <input class="tz-contact-input-email" type="email" name="txtemail" id="email" placeholder="Deine E-Mail" type="email" required>
                    </li>
                    <li>
                        <textarea class="tz-contact-message" name="textarea-message" id="message" placeholder="Deine Frage" required></textarea>
                    </li>
                    <li>
                        <button type="submit" id="send"><i class="fa fa-arrows-alt"></i>SENDEN</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>

<section class="tz-lastest-event tz-lastest-event-style-4">
    <h3 class="tz-event-title">NEVER CODE ALONE EVENTS</h3>
    <div class="container">
        <button class="tz-last-event-prev">
            <i class="fa fa-angle-left"></i>
        </button>
        <button class="tz-last-event-next">
            <i class="fa fa-angle-right"></i>
        </button>
        <div class="tz-event-container">
            <div class="tz-event-wrapper">
                <div class="tz-event-style-4">
                    <div class="tz-image-event-item">
                        <img src="/img/ncaevent-influencerdb.jpg" alt="Spende #NCAEvent InfluencerDB Mitmachkinder">
                        <a href="https://youtu.be/8VDpH0aRgaU" target="_blank"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                    <div class="tz-content-event-item">
                        <h6>InfluencerDB Münster</h6>
                        <strong>03 März 2018 @ 9:00 am</strong>
                        <img src="/ethic/images/check-01-home1.png" alt="InfluencerDB NCA Event">
                        <p>
                            <strong><a href="https://blog.nevercodealone.de/influencerdb-ncaevent/" target="_blank">Nachbericht</a></strong>
                            Python mit dem Django Framework, Social Media APIs, Instgram Marketing Tools, Crawler, künstliche Intelligenz, Funktionale Programmierung<br>
                            <strong>Spende 400,- Euro<br> <a href="https://friedensdorf.de/" target="_blank">FRIEDENSDORF INTERNATIONAL</a></strong>
                        </p>
                    </div>
                </div>
                <div class="tz-event-style-4">
                    <div class="tz-image-event-item">
                        <img src="/img/move-elevator-nca-event.jpg" alt="Spende #NCAEvent move:elevator Friedensdorf">
                        <a href="https://youtu.be/hcrpNjvNM-w" target="_blank"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                    <div class="tz-content-event-item">
                        <h6>move:elevator Oberhausen</h6>
                        <strong>23 September 2017 @ 9:00 am</strong>
                        <img src="/ethic/images/check-01-home1.png" alt="CHECK24 NCA Event">
                        <p>
                            <strong><a href="https://blog.nevercodealone.de/" target="_blank">Nachbericht</a></strong>
                            TYPO3 Extension mit Extbase und Fluid, Domain Driven Design. PHPUnit Test Driven Development, Symfony CMF<br>
                            <strong>Spende 400,- Euro<br> <a href="https://friedensdorf.de/" target="_blank">FRIEDENSDORF INTERNATIONAL</a></strong>
                        </p>
                    </div>
                </div>
                <div class="tz-event-style-4">
                    <div class="tz-image-event-item">
                        <img src="/ethic/img/spende-ncaevent-check24-froschkoenige.jpg" alt="Spende #NCAEvent CHECK24 Froschkönige">
                        <a href="https://blog.nevercodealone.de/sommer-sonne-coden/" target="_blank"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                    <div class="tz-content-event-item">
                        <h6>CHECK24 Köln</h6>
                        <strong>27 Mai 2017 @ 9:00 am</strong>
                        <img src="/ethic/images/check-01-home1.png" alt="CHECK24 NCA Event">
                        <p>
                            <strong><a href="https://blog.nevercodealone.de/sommer-sonne-coden/" target="_blank">Nachbericht</a></strong>
                            Magento2 mit GitLab und Docker, VIM Advanced, Formulare im Zend Framework und eine Payment Schnittstelle mit Stripe<br>
                            <strong>Spende 1000,- Euro<br> <a href="https://www.froschkoenige-ev.de" target="_blank">Froschkönigee.V.</a></strong>
                        </p>
                    </div>
                </div>
                <div class="tz-event-style-4">
                    <div class="tz-image-event-item">
                        <img src="/ethic/img/pagegroup-never-code-alone-event.jpg"
                             alt="PageGroup Never Code Alone Event">
                        <a href="https://blog.nevercodealone.de/vorbericht-pagegroup-never-code-alone-event/"
                           target="_blank"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                    <div class="tz-content-event-item">
                        <h6>PageGroup Düsseldorf</h6>
                        <strong>04 März 2017 @ 9:00 am</strong>
                        <img src="/ethic/images/check-01-home1.png" alt="PageGroup NCA Event">
                        <p>
                            <strong><a href="https://blog.nevercodealone.de/fun-coding-guter-zweck/"
                                       target="_blank">Nachbericht</a></strong>
                            TYPO3 MASK Extension Content-Elements, NEOS CMS Setup Best Practice, Reguläre Ausdrücke
                            anwenden und PhpStorm<br>
                            <strong>Spende 400,- Euro<br> <a href="https://www.froschkoenige-ev.de" target="_blank">Froschkönige
                                    e.V.</a></strong>
                        </p>
                    </div>
                </div>
                <div class="tz-event-style-4">
                    <div class="tz-image-event-item">
                        <img src="/ethic/img/denkwerk-never-code-alone.jpg"
                             alt="denkwerk Never Code Alone">
                        <a href="https://blog.nevercodealone.de/denkwerk-never-code-alone-event/" target="_blank"><i
                                    class="fa fa-arrows-alt"></i></a>
                    </div>
                    <div class="tz-content-event-item">
                        <h6>denkwerk Köln</h6>
                        <strong>19 November 2016 @ 9:00 am</strong>
                        <img src="/ethic/images/check-01-home1.png" alt="denkwerk NCA Event">
                        <p>
                            <strong><a href="https://blog.nevercodealone.de/never-code-alone-denkwerk-koeln/"
                                       target="_blank">Nachbericht</a></strong>
                            TYPO3 Security, Develop yourself Pair Programming, Libless.js Frontend, REST API Development
                            und Codeception Testing<br>
                            <strong>Spende 1000,- Euro<br> <a href="http://www.krebshilfe.de/" target="_blank">Deutsche
                                    Krebshilfe</a></strong>
                        </p>
                    </div>
                </div>
                <div class="tz-event-style-4">
                    <div class="tz-image-event-item">
                        <img src="/ethic/img/wysiwyg-ncaevent-duisburg.jpg"
                             alt="wysiwyg Never Code Alone">
                        <a href="https://blog.nevercodealone.de/wysiwyg-never-code-alone-event/" target="_blank"><i
                                    class="fa fa-arrows-alt"></i></a>
                    </div>
                    <div class="tz-content-event-item">
                        <h6>wysiwyg Duisburg</h6>
                        <strong>20 August 2016 @ 9:00 am</strong>
                        <img src="/ethic/images/check-01-home1.png" alt="wysiwyg NCA Event">
                        <p>
                            <strong><a href="https://blog.nevercodealone.de/gelungener-start-fuer-duisburger-webdevelopment-projekt/"
                                       target="_blank">Nachbericht</a></strong>
                            TYPO3 Flow Development, Acceptance Testing, PHPUnit Code Refactoring, Tools für
                            Software-Qualität<br>
                            <strong>Spende 400,- Euro<br> <a href="http://www.duisburger-tafel.de/" target="_blank">Duisburger
                                    Tafel</a></strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End class tz-lastest-event theme-white -->

<section class="tz-student-life">
    <div class="parallax-style-4">
        <div class="tz-life-content">
            <div class="tz-instruction">
                <img src="/ethic/img/nca-logo-30.png" alt="Images">
                <h4>“It’s harder to read code than to write it.”</h4>
                <strong>Joel Spolsky</strong>
            </div>
        </div>
    </div><!-- End class parallax-home4 -->
</section><!-- End class tz-student-life-home-4 -->

<!-- Begin section tz-portfolio-wrapper -->
<section class="tz-portfolio-wrapper">
    <span class="tz-images-check"><img src="/ethic/images/check-01-home2.png"
                                       alt="Gastbeiträge"></span>
    <h3 class="tz-portfolio-title"><a href="https://blog.nevercodealone.de/gastbeitraege-webdevelopment/"
                                      target="_blank">Förderung Gastbeiträge</a></h3>
    <div class="tz-portfolio">
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-1.jpeg"
                     alt="Yii2’s RESTful API testen mit Codeception">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-video-camera"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>Yii2’s RESTful API testen mit Codeception</h4>
                <p>Automatisierte Tests für effektives Webdevelopment</p>
                <span>
                    <a href="https://blog.nevercodealone.de/yii2s-restful-api-testen-mit-codeception/"
                       target="_blank"><i class="fa fa-arrows-alt"></i>JULIAN BÖHNKE</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-2.jpeg"
                     alt="Ich liebe es, mit Freunden zu arbeiten">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-building"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>„Ich liebe es, mit Freunden zu arbeiten“</h4>
                <p>Zusammenhalt bei Zombieapokalypsen</p>
                <span>
                    <a href="https://blog.nevercodealone.de/9elements-agentur-bochum/" target="_blank"><i
                                class="fa fa-arrows-alt"></i>SEBASTIAN DEUTSCH</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-3.jpg"
                     alt="Warum native Windows User oh-my-zsh eine Chance geben sollten">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-terminal"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>Warum native Windows User oh-my-zsh eine Chance geben sollten</h4>
                <p>Agnoster Theme auf Windows</p>
                <span>
                    <a href="https://blog.nevercodealone.de/oh-my-zsh-agnoster-theme-windows/" target="_blank"><i
                                class="fa fa-arrows-alt"></i>SANDRA PARSICK</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-4.jpg"
                     alt="Wie Modellierung mit UML zu besserem Code führt">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-bar-chart-o"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>Wie Modellierung mit UML zu besserem Code führt</h4>
                <p>Gap zwischen klassischen und agilen Projekten</p>
                <span>
                    <a href="https://blog.nevercodealone.de/modellierung-mit-uml-besserer-code/" target="_blank"><i
                                class="fa fa-arrows-alt"></i>SAMMY BAGHDADI</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-5.jpg"
                     alt="Test Driven Code Review (TDCR) – pro und contra">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-random"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>Test Driven Code Review (TDCR) – pro und contra</h4>
                <p>Für wen eignet sich TDCR (nicht)?</p>
                <span>
                    <a href="https://blog.nevercodealone.de/tdcr-test-driven-code-review/" target="_blank"><i
                                class="fa fa-arrows-alt"></i>FRANZISKA HAHN</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-6.jpg"
                     alt="Teamführung: Worauf Vorgesetzte achten müssen">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-users"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>Teamführung: Worauf Vorgesetzte achten müssen</h4>
                <p>Wertschätzung als oberstes Gebot</p>
                <span>
                    <a href="https://blog.nevercodealone.de/teamfuehrung/" target="_blank"><i
                                class="fa fa-arrows-alt"></i>ROLAND GOLLA</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-7.jpg"
                     alt="Codeception mit Yii2">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-fighter-jet"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>Codeception mit Yii2</h4>
                <p>Unser erster Test</p>
                <span>
                    <a href="https://blog.nevercodealone.de/codeception-mit-yii2/" target="_blank"><i
                                class="fa fa-arrows-alt"></i>JULIAN BÖHNKE</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-8.jpg"
                     alt="Muss ich wirklich in Softwarequalität investieren?">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-money"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2 tz-item-portfolio-style-4">
                <h4>Muss ich wirklich in Softwarequalität investieren?</h4>
                <p>Kosten und Nutzen von Softwarequalität</p>
                <span>
                    <a href="https://blog.nevercodealone.de/softwarequalitaet-webdevelopment/"><i
                                class="fa fa-arrows-alt"></i>GESA RÄCKE</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-9.jpg"
                     alt="Wie Du einen Gastbeitrag für Never Code Alone schreibst">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-balance-scale"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>Wie du einen Gastbeitrag für Never Code Alone schreibst</h4>
                <p>Dein Thema planen und spezifizieren</p>
                <span>
                    <a href="https://blog.nevercodealone.de/gastbeitrag-webdevelopment-tipps/" target="_blank"><i
                                class="fa fa-arrows-alt"></i>ROLAND GOLLA</a>
                </span>
            </div>
        </div>
        <div class="element tz-item-portfolio tz-item-portfolio-style-4">
            <div class="tz-image-portfolio">
                <img src="/ethic/img/webdevelopment-gastbeitrag-10.jpg"
                     alt="Im Vergleich: WordPress und TYPO3">
                <a href="#" class="tz-color-icon-3"><i class="fa fa-file-text-o"></i></a>
            </div>
            <div class="tz-portfolio-content-style-2">
                <h4>Im Vergleich: WordPress und TYPO3</h4>
                <p>Design für TYPO3 und WordPress</p>
                <span>
                    <a href="https://blog.nevercodealone.de/vergleich-wordpress-typo3/" target="_blank"><i
                                class="fa fa-arrows-alt"></i>NADINE SCHMELTER</a>
                </span>
            </div>
        </div>

    </div><!--End class tz-portfolio-->
</section>
<!-- End section tz-portfolio-wrapper -->

<!-- Begin Footer -->
<footer class="tz-footer">
    <div class="tz-footer-content tz-footer-content-2 tz-background-color-8">
        <div class="container">
            <img src="/img/rogoit-logo.png" alt="Rogoit Webdesign">
            <ul class="tz-footer-part">
                <li>
                    <div class="tz-footer-content-main">
                        <img src="/ethic/images/check-footer-Home4.png" alt="ROLAND GOLLA">
                        <h4>ROLAND GOLLA</h4>
                        <ul>
                            <li><a href="https://www.rolandgolla.de/">PHP Freelancer</a></li>
                            <li><a href="https://www.rolandgolla.de/php-kurs-inhouse-schulung/" target="_blank">PHP-Kurs
                                    Inhouse-Schulung</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="tz-footer-content-main">
                        <img src="/ethic/images/check-footer-Home4.png"
                             alt="Images remove footer">
                        <h4>ENTWICKLUNGSHILFE NRW</h4>
                        <ul>
                            <li><a href="http://www.entwicklungshilfe.nrw/dozenten/" target="_blank">Dozenten</a></li>
                            <li><a href="http://www.entwicklungshilfe.nrw/workshops/soforthilfe/" target="_blank">Soforthilfe</a>
                            </li>
                            <li><a href="http://www.entwicklungshilfe.nrw/code-rocker/" target="_blank">Code-Rocker</a>
                            </li>
                            <li><a href="http://www.entwicklungshilfe.nrw/workshops/moderierte-code-reviews/"
                                   target="_blank">Code Reviews</a></li>
                            <li><a href="http://www.entwicklungshilfe.nrw/workshops/moderiertes-pair-programming/"
                                   target="_blank">Pair Programming</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="tz-footer-content-main">
                        <img src="/ethic/images/check-footer-Home4.png"
                             alt="Images remove footer">
                        <h4>WEBVISUM</h4>
                        <ul>
                            <li><a href="https://webvisum.de/schulungen.html" target="_blank">Magento Support</a></li>
                            <li><a href="https://webvisum.de/magento-hosting" target="_blank">Hosting</a></li>
                            <li><a href="https://webvisum.de/online-marketing" target="_blank">Online Marketing</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="tz-footer-content-main">
                        <img src="/ethic/images/check-footer-Home4.png"
                             alt="Images remove footer">
                        <h4>PARTNER WERDEN</h4>
                        <ul>
                            <li><a href="https://blog.nevercodealone.de/kontakt-nca/" target="_blank">Sponsoring</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tz-footer-address-site">
        <address>Never Code Alone, Mercatorstr. 120 47051 Duisburg, Deutschland | Telefon: <a href="tel:+4917624747727">+49
                (0)176 24 74 77 27</a></address>
        <address>Never Code Alone gehört Rogoit Webdesign. Es gilt das <a href="http://www.rogoit.de/impressum/"
                                                                          target="_blank">Impressum</a>.
        </address>
    </div>
</footer>
<!-- End Footer -->
<script>
    var Desktop = 5,
        tabletportrait = 2,
        mobilelandscape = 1,
        mobileportrait = 1,
        resizeTimer = null;
</script>
<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/ethic/js/off-canvas.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.js"></script>
<script src="/ethic/js/resize.js"></script>
<script src="/ethic/js/custom-portfolio.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
<script src="/ethic/js/custom.js"></script>
<script src="/js/main.js"></script>
{% include 'google-analytics.html' %}
</body>
</html>