{% extends 'base.html.twig' %}

{% block body %}
    <!--hero section-->
    <header class="hero-section text-center">
        <canvas id="effect-canvas"></canvas>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo"> <img src="/img/logo.png" data-at2x="/img/logo.png" alt="site name"> </div>
                    <div class="welcome-message">
                        <h1>Influencer DB Python #NCAEvent</h1>
                        <h2>Live Coding Workshop mit Catering für den guten Zweck</h2>
                        <!--sub-form-->
                        <div class="sub-form">
                            <div class="row">
                                <div class="col-md-6 center-block col-sm-10 col-xs-9">
                                    <a href="https://www.eventbrite.de/e/python-workshop-influencerdb-never-code-alone-event-tickets-42178847067" target="_blank" class="btn btn-success" style="font-size: 50px">Eventbrite</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 center-block col-sm-10 col-xs-9">
                                    Informationen zu unserem <a href="http://blog.nevercodealone.de/nca-datenschutz/" target="_blank">Datenschutz</a>
                                </div>
                            </div>
                        </div>
                        <!--sub-form end-->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--hero section end-->
{% endblock %}
